<nav>
<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
    <h1 class="navbar-brand">
        {{title}}
    </h1>
    <form class="float-xs-right">
        <input type="text" class="form-control" placeholder="Search...">
    </form>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
            <home-component></home-component>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
            <store-component></store-component>
        </div>
    </div>
</div>

<a routerLink="/repository">Repository</a>
<a routerLink="/store">Store</a>
</nav>
<router-outlet></router-outlet>
